# objects
*.o
*.a
*.la
*.lo

.deps
.dirstamp

#tests
test/*Test

# all those magic
config/*
config/m4
!config/m4/ax_boost*
# whatever this is
lib/include/instro/config.h

./config*
#!configure.ac
config.h.in
configure
configure.scan

# whatever all of these do
aclocal.m4
autom4te.cache/
autoscan.log
libtool
stamp-h1

# vim
.*.swp

# generated Makefiles
Makefile
Makefile.in

# tmp files
rose_*.*
*.log
*.dot

# eclipse
.project
.cproject
.settings/

# generated documentation
!docs/Makefile
docs/html
docs/latex
